<aside id="sidebar" class="w-64 bg-white dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 p-4 fixed h-full z-30 md:relative transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0 shadow-xl md:shadow-none">
  <div class="text-xl font-semibold mb-6 flex items-center">
    <i data-lucide="cloud-cog" stroke-width="2.5" class="text-sky-600 dark:text-sky-100 w-5 h-5 mb-0.5 mr-1"></i>
    Adminit<span class="text-sky-600 mr-1">Y</span>
  </div>
  <nav>
    <ul class="space-y-2">
      <li>
        <a href="#" class="block px-4 py-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-700 text-sm">
          <i data-lucide="braces" class="text-sky-600 dark:text-sky-100 w-4 h-4 mb-1 mr-1 inline"></i>
          API Console
        </a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-700 text-sm text-sky-600 dark:text-sky-200 bg-sky-100 dark:bg-slate-700">
          <i data-lucide="users" class="text-sky-600 dark:text-sky-100 w-4 h-4 mb-1 mr-1 inline"></i>
          All Users
        </a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-700 text-sm">
          <i data-lucide="user-plus" class="text-sky-600 dark:text-sky-100 w-4 h-4 mb-1 mr-1 inline"></i>
          New User
        </a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-700 text-sm">
          <i data-lucide="user-round-search" class="text-sky-600 dark:text-sky-100 w-4 h-4 mb-1 mr-1 inline"></i>
          Lead Users
        </a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-700 text-sm">
          <i data-lucide="settings-2" class="text-sky-600 dark:text-sky-100 w-4 h-4 mb-1 mr-1 inline"></i>
          Settings
        </a>
      </li>
    </ul>
  </nav>
</aside>